/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header & Navigation */
header {
    background-color: #2c3e50;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
}

/* Sections */
section {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Headings */
h1, h2 {
    color: #2c3e50;
}

/* Lists */
ul, ol {
    margin-left: 20px;
}

/* Images */
img {
    border-radius: 8px;
    margin-top: 10px;
    
}

/* Gallery */
figure {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

figcaption {
    margin-top: 5px;
    font-size: 14px;
}

/* Forms */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}



button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #549be2;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Bonus Elements */
input[type="text"]::placeholder {
    color: #999;
}

